# =========================
# Maven / Java
# =========================
target/
*.jar
*.class

# =========================
# Environment files
# =========================
.env
application-dev.properties
application-prod.properties

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# STS / Eclipse
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Build tools
# =========================
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
