# ======================
# Maven
# ======================
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# ======================
# Logs
# ======================
*.log

# ======================
# Environment files
# ======================
.env
application-dev.properties
application-prod.properties

# ======================
# IDEs
# ======================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
